# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.env.example
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Testing and Coverage
.pytest_cache/
.coverage
htmlcov/
.cache

# Database (SQLite, etc.)
*.db
*.sqlite
*.sqlite3
*.sqlite3-journal

# OS files
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
